@import './variables.scss';
@import './reset.scss';

.container{
  max-width: 1054px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:3;
	overflow: hidden;
  &.active{
    left: 80%;
  }
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $main-color;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
  z-index: 2;
	padding: 15px;
	background-color: #FCF6F2;
	transform: translateX(-100%);
	transition: transform 0.5s; 
  & nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    & li{
      margin: 12px 0px;
    
      
    }
    & a{
      text-decoration: none;
      font-size: 18px;
      line-height: 32.4px;
      color: $main-color;
    }
  }
}

.menu.active {
	transform: translateX(0);

  
}

.menu li {
	list-style-type: none;
}

.menu-btn.active span:first-of-type {
	transform: translateX(100%);
}

.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.faq__container-item--active::after{
  transform: rotate(180deg);
}
.overflow{
  overflow: hidden;
}
.logo{
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  &__title{
    text-align: center;
    
    font-family: $title-font;
    color: $main-color;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.32em;
    padding: 16px 0px;
    margin-top: 40px;
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    &::after{
      position: absolute;
      content: '';
      max-width: 550px;
      width: 100%;
      top: 100%;
      left: 50%;
      transform: translate(-50% , 0%);
      background: #FCF6F2;
      border: 1px solid #FCF6F2;
      z-index: 10;
      opacity: 1;
    }
    &::before{
      position: absolute;
      content: '';
      max-width: 550px;
      width: 100%;
      bottom: 100%;
      left: 50%;
      transform: translate(-50% , 0%);
      background: #FCF6F2;
      border: 1px solid #FCF6F2;
      z-index: 10;
      opacity: 1;
    }
  }
}

.header {
  margin-top: 56px;
  &__mobile{
    display: flex;
    justify-content: space-between;
    display: none;
    &-title{
      font-family: $title-font;
      font-weight: 700;
      font-size: 14px;
      line-height: 28.66px;
      letter-spacing: 0.33em;
      color: $main-color;
    }
    & select{
      background-color: #FCF6F2;
      border: none;
      color: $main-color;
      font-weight: 800;
      @include title;
      cursor: pointer;
      outline: none;
    }
  }
  &__link{
    margin: 0px 22px;
    color: $main-color;
    @include title;
  }
  &__ul{
      display: flex;
      justify-content: space-between;
    }
  &__container {
    display: flex;
    justify-content: space-between;
    & select{
      background-color: #FCF6F2;
      border: none;
      color: $main-color;
      font-weight: 800;
      @include title;
      cursor: pointer;
      outline: none;
    }  
      & li{
        list-style: none;
      
        cursor: pointer;
      }
  }
  &__social{
    font-size: 32px;
    color: $main-color;
    z-index: 5;
    margin: 35px 33px 0px;

  }
}

.btnLink{
  color: #fff;
}
.default__btn{
  width: 144px;
  height: 50px;
  background-color: #e18a7a;
  border-radius: 2px;
  @include title;
  color: #FCF6F2;
  cursor: pointer;
  border:none ;
  transition: all .3s;
  outline: none;
  &:focus{
    background: #F4A892;

  }
  &:hover{
    box-shadow: 0px 3px 8px 0px $main-color;
    background: #EE8363;

  }
}
.make {
  background: url(../images/firstBG.png) center center / cover no-repeat;
  height: 592px;
  position: relative;
  margin-top: 40px;
  &__container{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    position: absolute;
    padding-top: 80px;
    font-size: 64px;
    line-height: 102.4px;
    color: $main-color;
    font-weight: 500;
    max-width: 751px;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
  }
}

.about {

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 208px;
  }

  &__container-right {
    margin-right: -10px;
    &-title{
      font-family: $title-font;
      font-weight: 700;
      color: $main-color;
      font-size: 56px;
      line-height: 74,65px;
    }
    &-description{
      font-weight: 500;
      font-size: 18px;
      line-height: 28.8px;
      color: $main-color;
      max-width: 496px;
      width: 100%;
      padding: 64px 0px 80px;
    }
  }
}

.photossesion {
  &__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    &-btn{
      margin: 90px auto 300px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__container-title {
    margin: 211px 0px 91px;
    text-align: center;
    font-weight: 400;
    @include classic-size;
    color: $main-color;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
  }

  &__container-grid {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    gap: 32px;
    cursor: pointer;
    &-img:nth-child(1){
      grid-row: 1/2;
      grid-column: 1/3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-img:nth-child(2){
      grid-column: 3/4;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-img:nth-child(3){
      grid-column: 4/5;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-img:nth-child(4){
      grid-row: 2/3;
      grid-column: 1/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-img:nth-child(5){
      grid-row: 2/3;
      grid-column: 2/4;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-img:nth-child(6){
      grid-row: 2/3;
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-column: 4/5;
    }
  }

}

.footer {
  background-color: $main-color;
  min-height: 300px;
  padding-top: 57px;
  & a{
    color: #FCF6F2;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    & ul{
      list-style: none;
      padding: 0;
      & li{
        @include title;
        color: #FCF6F2;
        margin: 12px 0px;
        cursor: pointer;        
      }
    }
  }

  &__container-logo {
    background-color: transparent;
    &-text{
      font-family: $title-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.32em;
      color: #FCF6F2;
      max-width: 157px;
      width: 100%;
      &:last-child{
        padding-bottom: 50px ;
      }
    }
  }


  &__title {
    font-weight: 800;
    @include title;
    color: #FCF6F2;
  }


  &__container-contact {
    display: flex;
    flex-direction: column;
    & a{
      @include title;
      color: #FCF6F2;
      text-decoration: none;
      margin: 12px 0px;
    }
  }
  &__mobile{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    ul{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    & li{
      list-style: none;
      margin: 12px 0;
      font-size: 14px;
      line-height: 25.2px;
      color: #fcf6f2;
    }  
  }
  &__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 48px 0px;
    color: #FCF6F2;
  }
}

.footer_icon{
  margin-right: 29px;
  color: #FCF6F2;
  cursor: pointer; 
  &:nth-child(3){
    margin: 0px;
  }
}
.about__description{
  padding: 0px 0px 22px;
  &:nth-of-type(1){
    padding-top: 45px;
  }
}

.aboutGalery {
  margin-top: 211px;

  &__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__container-title {
    text-align: center;
    font-family: $title-font;
    font-weight: 400;
    @include classic-size;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    color: $main-color;
  }

  &__container-img {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & img{
      width: 23%;
      padding: 16px;
      cursor: pointer;
    }
  }

  &__container-btn {
    outline: none;
    width: 270px;
    align-items: center;
    margin: 90px auto 300px;
  }
}

.navPortfolio {
  overflow: auto;
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 15px 0px;
  & ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    & li{
      list-style: none;
      font-size: 24px;
      line-height: 28.17px;
      color: $main-color;
      cursor: pointer;
      
    }
  }
}

.circle{
  font-size: 8px;
  cursor: default;
  margin: 0 28px;
  color: #E18A7A;
  background: transparent;
}
.galery {
padding-top: 110px;
padding-bottom: 300px;
&__container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: 478px;
  gap: 32px;
  &-backstage{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
&-img{
  width: 100%;
  height: 100%;

}
  &-img-block{
    cursor: pointer;
    position: relative;
    &-name{
      position: absolute;
      color: #FCF6F2;
      bottom: 5%;
      left: 5%;
      @include classic-size;
      font-family: $title-font;
      opacity: 0;
      transition: all .6s;
      z-index: 5;
    }
    &-play{
      position: absolute;
      font-size: 46px;
      color: #FCF6F2;
      left: 50%;
      bottom: 50%;
      transform: rotate(-50% -50%);
      z-index: 11;
      opacity: 0;
    }
    &-backstage{
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover{
        .galery__container-img-block-name{
          opacity: 1;
        }
        .galery__container-img-block-play{
          opacity: 1;
        }
        &::after{
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.7) 100%);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      &:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(2){
        grid-column: 2/4;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(3){
        grid-column: 4/5;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(4){
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(5){
        grid-column: 3/4;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(6){
        grid-column: 4/5;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(7){
      grid-column: 1/3;
      grid-row: 3/4;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(8){
      grid-column: 3/5 ;
      grid-row: 3/4;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(9){
      grid-column: 1/3;
      grid-row: 4/5 ;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(10){
      grid-column: 3/5 ;
      grid-row: 4/5;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(11){
      grid-column: 1/3;
      grid-row: 5/6;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(12){
      grid-column: 3/4;
      grid-row: 5/6;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }
    &:hover{
      .galery__container-img-block-name{
        opacity: 1;
      }
      .galery__container-img-block-play{
        opacity: 1;
      }
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.7) 100%);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &:nth-child(1){
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(2){
      grid-column: 2/4;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(3){
      grid-column: 4/5;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(4){
      grid-column: 1/3;
      grid-row: 2/3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(5){
      grid-column: 3/4;
      grid-row: 2/3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(6){
      grid-column: 4/5;
      grid-row: 2/3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(7){
      grid-column: 1/2;
      grid-row: 3/4;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(8){
      grid-column: 2/4;
      grid-row: 3/4;
      width: 100%;
      height: 472px;
      object-fit: cover;
    }
    &:nth-child(9){
      grid-column: 4/5;
      grid-row: 3/4;
      width: 100%;
      height: 472px;
      object-fit: cover;
    }
    &:nth-child(10){
      grid-column: 1/2;
      grid-row: 4/5;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(11){
      grid-column: 2/3;
      grid-row: 4/5;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(12){
      grid-column: 3/5;
      grid-row: 4/5;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(13){
      grid-column: 1/2;
      grid-row: 5/6;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(14){
      grid-column: 2/4;
      grid-row: 5/6;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(15){
      grid-column: 4/5;
      grid-row: 5/6;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(16){
      grid-column: 1/3;
      grid-row: 6/7;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(17){
      grid-column: 3/4;
      grid-row: 6/7;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(18){
      grid-column: 4/5;
      grid-row: 6/7;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(19){
      grid-column: 1/2;
      grid-row: 7/8;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(20){
      grid-column: 2/3;
      grid-row: 7/8;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(21){
      grid-column: 3/5;
      grid-row: 7/8;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(22){
      grid-column: 1/2;
      grid-row: 8/9;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(23){
      grid-column: 2/4;
      grid-row: 8/9;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(24){
      grid-column: 4/5;
      grid-row: 8/9;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(25){
      grid-column: 1/3;
      grid-row: 9/10 ;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
    &:nth-child(26){
      grid-column: 3/5;
      grid-row:9/10 ;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}
}

.tab.active{
  display: block;
  color: #E18A7A;
}

.faded {
  animation-name: faded;
  animation-duration: 2.5s;
}

@keyframes faded {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}


.overlay.block, .modal.block , .faq__container-description.block{
  display: block;
}

.faq {
  margin-bottom: 300px;
  &__container {
    max-width: 1470px;
    margin: 65px auto 0px;
    padding: 0 15px;
    display: flex;
    justify-content: space-evenly;
  }

  &__container-left {
    display: flex;
    flex-direction: column;
    width: 46.52%;
  }

  &__container-title {
    font-family: $title-font;
    font-weight: 700;
    max-width: 510px;
    font-size: 56px;
    line-height: 74.65px;
    color: $main-color;

  }

  &__container-item {
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 28.8px;
    color: $main-color;
    max-width: 670px;
    width: 100%;
    position: relative;
    padding: 50px 0px;
    height: 100px;
    &::after{
      content: '';
      position: absolute;
      width: 30px;
      right: 0%;
      height: 17px;
      background: url(../images/arrow_down.svg);
    }
  }
}
.faq__container-itemL{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    top: 100%;
    width: 100%;
    z-index: 2;
    border: 1px solid #c7c7c7;
  }
}
.border__none::after{
  display: none;
}


.faq__container-description{
  cursor: default;
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 28.8px;
  color: $main-color;
  max-width: 570px;
  width: 100%;
}

.rotate{
  transform: rotate(180deg);
}

.price {
  max-width: 1054px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 15px 145px;

  &__title {
    padding: 67px 0px 92px;
    font-family: $title-font;
    font-weight: 700;
    font-size: 56px;
    line-height: 74,65px;
    color: $main-color;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  
  }

  &__container-block {
    max-width: 500px;
    width: 100%;
    border: 1px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
  }

  &__container-block-title {
    padding: 48px 0px;
    text-align: center;
    font-family: $title-font;
    font-weight: 400;
    @include classic-size;
    color: $main-color;
  }

  &__container-block-price {
    padding-bottom: 48px;
    font-family: $title-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #e18a7a;
  }

  &__container-block-description {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    color: $main-color;
    text-align: center;

  }

  &__container-block-btn {
    outline: none;
    margin: 80px 0px;
  }
}

.warning {

  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto 300px;
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__container-right {
    & ul{
      padding: 0px auto;
      & li{
        font-size: 1.5em;
        color: #E18A7A;
        margin-bottom: 30px;
      & span{
        color: $main-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
        
      }
      }
    }
  }

  &__container-right-title {
    border-top: 1px solid $main-color;
    max-width: 145px;
    width: 100%;
    border-bottom: 1px solid $main-color;
    margin-left: 32px;
    margin-bottom: 56px;
    font-family: $title-font;
    font-weight: 400;
    @include classic-size;
    color: $main-color;
  }
}

.services {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto 160px;
  width: 100%;

  &__title {
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    max-width: 390px;
    width: 100%;
    font-weight: 400;
    @include classic-size;
    color: $main-color;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__container-left {
    max-width: 610px;
    width: 100%;
    padding-top: 73px;
  }

  &__container-left-item {   
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    height: 30px;
  }

  &__container-left-item-text {
    margin-bottom: 66px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    color: $main-color;
  }

  &__container-left-item-price {
    font-weight: 400;
    font-size: 32px;
    line-height: 42,66px;
    color: #e18a7a;
  }

}

.contact {

  &__container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 67px;
  }

  &__container-right-title {
    font-family: $title-font;
    font-weight: 700;
    font-size: 56px;
    line-height: 74,65px;
    color: $main-color;
    padding-bottom: 80px;
  }

  &__container-right-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 44px;
  }

  &__container-right-block-item {
    max-width: 160px;
    width: 100%;
    flex: 50%;
    & p{
      font-weight: 800;
      font-size: 18px;
      line-height: 28.8px;
      color: $main-color;
      padding-bottom: 8px;
    }
    & a{
      font-size: 18px;
      font-weight: 500;
      color: $main-color;
      text-decoration: none;
    }
  }
}

.contct__icon{
  color: $main-color;
  font-size: 26px;
}

.connect {
  max-width: 1470px;
  padding: 0 15px;
  margin: 200px auto 300px;
  width: 100%;
  

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__container-left { 
    & form{
      display: flex;
      flex-direction: column;
    }
  }

  &__container-left-title {
    font-family: $title-font;
    font-weight: 400;
    @include classic-size;
    color: $main-color;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    margin-bottom: 51px;
  }

  &__container-left-text {
    @include title;
   color: $main-color; 
   padding-bottom: 11px;
  }

  &__container-left-input {
    outline: none;
    width: 500px;
    border-radius: 5px;
    border: 1px solid $main-color;
    background: none;
    height: 48px;
    margin-bottom: 20px;
  }

  &__container-left-textarea {
    outline: none;
    width: 500px;
    height: 180px;
    background: none;
    resize: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }
}
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.56);
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
  &__close {
      position: absolute;
      top: 0;
      right: 15px;
      color: #0d0d0d;
      font-size: 41px;
      line-height: 21px;
      cursor: pointer;
  }
  &__subtitle {
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
  }
  &__descr {
      color: #0d0d0d;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
  }
  &_mini {
      min-height: 140px;
  }
  .error {
      border: 1px solid red;
      text-align: center;
  }
  label.error {
      border: none;
  }
}

@import './media.scss';